<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Vota a tu anime favorito </h1>
  <h4>Crea un tema</h4>

  <form action="/temas/crear" method="post">
    <label for="tema">
      Titulo del anime
      <input type="text" id="tema" name="tema" placeholder="escriba el anime"/>
    </label>
    <label for="enlace">
      Enlace
      <input type="text" id="enlace" name="enlace" placeholder="escriba el enlace">
    </label>
    <button type="submit">Agregar</button>
  </form>

  <script>
    function mifuncion(){
      var x,y,suma,text;
      x = document.getElementById("nr1").value;
      y = document.getElementById("nr2").value;
      suma = parseFloat(x)+parseFloat(y)
      text = suma;

      document.getElementById("sumando").innerHTML = text;
    }
  </script>
</body>
</html>